@import (reference) '/styles/config.less';

#intro-container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.leave {

    .container > div {
      .fadeOutRightBounce(@duration: .8s);

      @media all and (max-width: 768px) {
        .fadeOutDownBounce(@duration: .8s);
      }
    }

    #rocket-container {
      display: block;
    }


    #toggle-lang-btn {
      opacity: 0;
    }
  }

  &.post-launch {
    opacity: 0;
    transition: opacity 2.5s ease-in-out .1s;
  }

  #toggle-lang-btn {
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 1;
    transition: opacity .2s ease-in-out;
  }

  .container {
    z-index: 2;

    div {
      max-width: 750px;
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-self: flex-start;

      @media all and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
      }

      h1 {
        margin: 0 0 2rem;
        color: var(--color-highlight);
        font-family: var(--roboto-font);
        font-size: 3.5rem;
        line-height: normal;
        display: block;
        text-shadow: 0 0 35px rgba(0, 0, 0, .3);

        @media all and (max-width: 768px) {
          font-size: 2.5rem;
        }
      }

      p {
        margin: 0 0 2rem;
        color: var(--text-intro);
        font-family: var(--roboto-font);
        font-size: 2.8rem;
        text-shadow: 0 0 35px rgba(0, 0, 0, .3);
        line-height: normal;
        display: block;

        @media all and (max-width: 768px) {
          font-size: 1.8rem;
        }
      }

      button {
        margin: 2rem 0;
        padding: 2rem 4rem;
        background-color: var(--color-secondary);
        color: var(--color-primary);
        font-family: var(--roboto-font);
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        transition: all .2s ease-in-out;
        transition-property: transform, box-shadow;

        @media all and (max-width: 768px) {
          width: 100%;
          font-size: 1.8rem;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, .3);
        }

        svg {
          width: 1.8rem;
          height: 1.8rem;
          margin-left: 1rem;
          fill: var(--color-primary);
        }
      }
    }
  }

  #rocket-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 2;

    @media (max-aspect-ratio: 16/9) {
      top: auto;
      bottom: 0;
      left: 50%;
      width: auto;

      svg {
        width: auto!important;
        height: 100vh!important;
        transform: translate3d(-50%, 0, 0)!important;
      }
    }

    @media all and (max-width: 768px) {
      top: auto;
      bottom: 0;
      left: 50%;
      width: auto;

      svg {
        width: auto!important;
        height: 100vh!important;
        transform: translate3d(-50%, 0, 0)!important;
      }
    }
  }
}