* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.6rem;
}

html {
  font-size: 10px;
}

p, span, a {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, p, span, a, i, strong {
  font-family: var(--roboto-font);
}

button {
  background-color: transparent;
  font-size: 1.4rem;
  border: none;
  outline: none!important;
}

.page-container {
  width: 100vw;
  height: 100vh;
  padding: 15rem 0 5rem;
  transition: background-color .2s ease-in-out;

  @media all and (max-width: 768px) {
    padding: 3rem 0;
  }

  h1 {
    margin: 5rem 0;
    color: var(--color-highlight);
    font-size: 3.5rem;
    line-height: normal;

    @media all and (max-width: 768px) {
      font-size: 3rem;
    }
  }

  p, span, i, a {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  p {
    color: var(--text-normal);
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem 1.5rem;
  z-index: 2;
  
  @media (min-width: 768px) {
    width: 750px;
  }
  
  @media (min-width: 992px) {
    width: 970px;
  }
  
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.main-btn {
  width: auto;
  margin: 2rem auto 0;
  padding: 2rem 4rem;
  background-color: var(--color-secondary);
  color : var(--color-primary);
  font-family: var(--roboto-font);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition:
    box-shadow .4s ease-in-out,
    opacity .2s ease-in-out;

  &.valid:hover {
    box-shadow: 0 0 40px var(--color-secondary-faded);

    svg {
      transform: scale(1.2);
    }
  }

  &:disabled {
    opacity: .4;
  }

  svg {
    width: 3rem;
    margin: 0 0 0 1rem;
    fill: var(--color-primary);
    transition: transform .4s ease-in-out;
  }
}