.light-theme {

  // Main colors
  --color-primary: #190443;
  --color-secondary: #FF9F1C;
  --color-highlight: #E84855;
  --color-emphasis: #2CDA9D;
  --color-secondary-faded: fade(#FF9F1C, 15%);
  --color-danger: #CE3E4A;

  // Text
  --roboto-font: 'Roboto Mono', 'Roboto', sans-serif;
  --text-intro: #F5F5F5;
  --text-header: #190443;
  --text-normal: #190443;
  --text-normal-faded: fade(#190443, 60%);

  // Backgrounds
  --bg-main: #F4EDED;
  --bg-header: #F5F5F5;

  // Borders
  --border-color-primary: #000;
  --border-color-secondary: #333;
  --border-radius: 36px;
  --border-radius-input: 16px;
}

.dark-theme {

  // Main colors
  --color-primary: #190443;
  --color-secondary: #FF9F1C;
  --color-highlight: #2CDA9D;
  --color-emphasis: #E84855;
  --color-danger: #CE3E4A;
  --color-secondary-faded: fade(#FF9F1C, 15%);

  // Text
  --roboto-font: 'Roboto Mono', 'Roboto', sans-serif;
  --text-intro: #F5F5F5;
  --text-header: #F4EDED;
  --text-normal: #F5F5F5;
  --text-normal-faded: fade(#F5F5F5, 60%);

  // Backgrounds
  --bg-main: #190443;
  --bg-header: #333;

  // Borders
  --border-color-primary: #3c415c;
  --border-color-secondary: #b4a5a5;
  --border-radius: 36px;
  --border-radius-input: 16px;
}